@use "../../helpers/mixin/mixins"; //center, background, parralax(), underline
@use "../../helpers/variables/variables"; //$color1, $color2, $color3, $color4, $color5, $light

footer {
	@include mixins.background;
	@include mixins.lille-font;
	@include mixins.center;
	line-height: 30px;
	margin: auto;
	.to-top {
		display: flex;
		gap: 0px 20px;
		align-items: center;
		justify-content: center;
		padding: 3% 0;
		cursor: pointer;
	}

	.copyright {
		@include mixins.background;
		a {
			color: variables.$light;
		}
	}
}
